In [46]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
# NOTE - we already knew they tables but to find we can also do the below code: 
Base.classes.keys()

['measurement', 'station']

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Summary Statistics for June

In [42]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6)

# Show results of above query to show it pulled date and temp
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6)

print (results.first())

('2010-06-01', 78.0)

In [44]:
#  Combine results and all() to one so it is a list of all the temps in June 

results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

results[0:5]

[('2010-06-01', 78.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0)]

In [47]:
# Create DF for this list 
June_df = pd.DataFrame(results, columns = ['date', 'temp'])

June_df.head()

         date  temp
0  2010-06-01  78.0
1  2010-06-02  76.0
2  2010-06-03  78.0
3  2010-06-04  76.0
4  2010-06-05  77.0

In [48]:
# Show summary stats of the June temp
June_df.describe()

              temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## Summary Statistics for December

In [49]:
# Similar to above, here is a query for temps in Decemember
session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12)

In [50]:
# Convert the December temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

results[0:5]

[('2010-12-01', 76.0),
 ('2010-12-03', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 64.0)]

In [51]:
# DataFrame with December temps
Dec_df = pd.DataFrame(results, columns = ['date', 'temp'])
Dec_df.head()

         date  temp
0  2010-12-01  76.0
1  2010-12-03  74.0
2  2010-12-04  74.0
3  2010-12-06  64.0
4  2010-12-07  64.0

In [52]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_df.describe()

              temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000